4.6 Exercise

# Import libraries and Dataframes

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Imported path
path = r'/Users/james/Desktop/Instacart Basket Analysis'

In [3]:
path

'/Users/james/Desktop/Instacart Basket Analysis'

In [6]:
# Import products.csv

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
# Import orders_wrangled.csv

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [8]:
# Importing df_ords_prior dataframe

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [9]:
# check output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
# Check output 
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [ ]:
# Check the dimensions of df_ords

In [12]:
df_ords.shape

(3421083, 9)

In [13]:
# Check the dimensions of df_ords_prior
df_ords_prior.shape

(32434489, 4)

# Merge Dataframes

In [15]:
# Creating new dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [16]:
# Check columns
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_previous_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [17]:
# Merge the dataframes
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Export to Pickle (pkl) format

In [18]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))